.header{
    height: 95vh;
    width: auto;
    background-image: linear-gradient(to right,rgba($color-primary-light, 0.6),rgba($color-primary-dark, 0.6)),url(../img/hero.jpg);
    background-size: cover;
    background-position: center center;
    clip-path:polygon(0 0,100% 0,100% 75vh,0 100%);
    position: relative;
    
    &__logo{
    height: 4rem;
    width: auto;
   }

   &__class-logo{
    position: absolute;
    top: 4rem;
    left: 4rem;
   }
    
    &__text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-47%,-50%);
    text-align: center;
   }
}

